<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>live</title>
    <link rel="stylesheet" href="/style.css">
    <style media="screen">
      small {font-size: 0.5em; opacity: 0.4}
      li { list-style: none; margin:0;}
      a {display: block;transition: .1s}
      a:hover{ color:var(--red)}
    </style>
  </head>
  <body>


    <nav class="right">
      <label>Showing:</label>
      <nav class="drop">
        <ul class="drop-current">
          <li>{{page.name}}</li>
        </ul>
        <ul class="drop-options">
          <li><a href="/">Fashion (all)</a></li>
          {% assign categories = site.categories | sort: 'order' %}
          {% for category in categories %}
            <li><a href="{{category.url}}">{{category.name}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </nav>

    <h1>CATEGORY [{{page.name}}]</h1>

    <ol>
    {% assign categories = site.categories | sort: 'order' %}
    {% for category in categories %}
      <li><a href="{{category.url}}">{{category.name}}</a></li>
    {% endfor %}
    </ol>

    <ol>
    {% for student in site.students %}
      {% if student.IGNORE == nil %}
        {% if student.categories contains page.key %}
          <a href="{{student.url}}">
            {{student.name}} <small>{{student.id}}</small>
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ol>

    <footer>
      <a href="#">Fashion MA 2017</a>
      <a href="#" class="logo_RCA"><img src="/assets/RCA_180_Logo.png" alt="RCA/180" /></a>
      <a href="#" class="foxall-studio">Site by <strong>Foxall Studio</strong></a>
    </footer>

    <script type="text/javascript" src="/dist/bundle.js"></script>

  </body>
</html>
