---
layout: base
---

<nav class="right">
  <nav class="drop no-resize">
    <ul class="drop-current icon-left">
      <li>
        Back
      </li>
    </ul>
    <ul class="drop-options">
      <li><a href="{{ site.baseurl }}/">Fashion (all)</a></li>
      {% assign categories = site.categories | sort: 'order' %}
      {% for category in categories %}
        <li><a href="{{ site.baseurl }}{{category.url}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
</nav>

<nav class="left">
  <nav class="drop">
    <ul class="drop-current icon-down">
      <li>{{page.name}}</li>
    </ul>
    <ul class="drop-options">
      {% for student in site.students %}
        {% if student.IGNORE == nil %}
        <li>
          <a href="{{ site.baseurl }}{{student.url}}">
            {{student.name}}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</nav>
<main class="row">
  <section class="side-copy col-left">
    {{content}}
  </section>
  <section class="col-right">
    <ul id="asset-list">
      {% for item in page.items %}
         <li><img src="{{ site.baseurl }}{{item.src}}" /></h1>
      {% endfor %}
    </ul>
  </section>
</main>

<script type="text/javascript">

var observer = new IntersectionObserver((intersections)=> {
  intersections.forEach(intersect => {
    intersect.target.classList.toggle('offscreen', !intersect.isIntersecting)
  })
})

Array.from(document.querySelectorAll('#asset-list li'))
.forEach(img => {
  observer.observe(img);
})

</script>
