<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>live</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <h1><a href="/list.html">&larr;</a>
     [{{page.name}}]</h1>

     {{content}}

     <hr />

     <ol>
     {% for category in page.categories %}
        <li>{{category}}</li>
     {% endfor %}
     </ol>

     <hr />

     <ul>
     {% for item in page.items %}
        <li><img src="{{item.src}}" style="max-width: 30em;" /></h1>
     {% endfor %}
     </body>

  </body>
</html>
